<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/signUp.js"></script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="home">Home</a></li>
            <li role="presentation"><a href="showSignIn">Sign In</a></li>
            <li role="presentation" class="active"><a href="customerRegistration">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Hulton Hotels</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Register</h1>
        <form class="form-bookhotel">
        <label for="inputID" class="sr-only">ID</label>
        <input type="name" name="inputID" id="inputID" class="form-control" placeholder="ID" required autofocus>
        <br>
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control"
        placeholder="Name" required autofocus>
        <label for="inputAddress" class="sr-only">Password</label>
        <input type="address" name="inputAddress" id="inputAddress" class="form-control" placeholder="Address" required autofocus>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus>
        <label for="phoneNumber" class="sr-only">Phone Number</label>
        <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number" required autofocus>
         <br>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required autofocus>
        <label for="confirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" autofocus>
        <br><br>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button" >Sign up</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Mr J 2017</p>
      </footer>
 
    </div>
  </body>
</html>